<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>

    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  </head>
  <body>

    <div class="container mt-5">
      <h1>Welcome to Other!</h1>
      <a class="btn btn-info" href="{% url 'basic_app:relative' %}">Relative</a>
      <a class="btn btn-info" href="{% url 'admin:index' %}">Admin</a>
      <a class="btn btn-info "href="{% url 'index' %}">Index</a>
    </div>

  </body>
</html>
