<!DOCTYPE html>
{% extends "basic_app/base.html" %}

  {% block body_block %}

    <h1 class="display-4 mt-5">Welcome to Other!</h1>
    <div class="row">
      <div class="col-md-6">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
      <div class="col-md-6">
        <p class="lead">
        Here are some useless buttons!<br>
        Click them to relieve some stress.
        </p>
        <button type="button" class="btn btn-info btn-md btn-block" name="button">Button</button>
        <button type="button" class="btn btn-info btn-md btn-block" name="button">Another Button</button>
        <button type="button" class="btn btn-info btn-md btn-block" name="button">Buttons Buttons</button>
      </div>
    </div>

  {% endblock %}
