<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Index</title>

    <!-- My CSS -->
    <link rel="stylesheet" href="{% static 'form_app/css/styles.css' %}">

    <!-- Bootsrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  </head>
  <body>

    <div class="jumbotron">
      <div class="container">
        <h1 class="display-4">Hi</h1>
        <p class="lead">This is index.html</p>
        <p><a type="button" class="btn btn-outline-dark" href="{% url 'form_app:forms' %}">Go to forms.html</a></p>
      </div>
    </div>

  </body>
</html>
